---
import Layout from "../../layouts/Layout.astro";
const { slug } = Astro.params;
import {idCharaMap} from "../../data/charalist";
import WipBanner from "../../components/wipBanner.astro";
const findChara = (slug: string) => idCharaMap.findIndex((chara) => chara.strid === slug);
const chara = idCharaMap[findChara(slug)];
export async function getStaticPaths() {
    return idCharaMap.map((chara) => ({
        params: {slug: chara.strid},
        // props:
        })
    );
}
---

<Layout title={`キャラクター ${chara.name}`}>
    <div class="w-full h-[100lvh] flex flex-col justify-center items-center">
        <h1 class="text-5xl">{chara.name}</h1>
        <h2 class="text-3xl">{chara.name_en}</h2>
    </div>
</Layout>
