---
import Layout from '../layouts/Layout.astro';
import WipBanner from "../components/wipBanner.astro";
import Background from '../components/Background.vue';
---

<Layout title="着ぐるみバンドリ！">
	<Background client:only="vue" />
	<div class="w-full h-[100svh] flex flex-col justify-center items-center">
		<WipBanner />
	</div>
</Layout>
