---

---
<div class="w-full px-3 py-2 md:w-1/2">
    <div class="wrapper border-[2px] rounded-lg backdrop-blur-sm bg-white bg-opacity-50 text-center">
        <span class="text"></span>
        <div class="cursor"></div>
    </div>
</div>

<style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Signika+Negative:wght@300..700&display=swap');
    .wrapper {
        font-weight: 300;
        margin: 0;
        padding: 10px 20px;
    }
    .cursor {
        background-color: black;
        width: 0.1em;
        height: 1.7em;
        display: inline-block;
        margin: 0em 0em -0.3em 0em;
    }
    .text {
        height: 1.5em;
        font-size: 1.5em;
        position: relative;
    }
</style>

<script>
    import gsap from "gsap";
    import { TextPlugin } from "gsap/TextPlugin";
    gsap.registerPlugin(TextPlugin);
    const cursor = gsap.to(".cursor", {
        opacity: 0,
        ease: "power2.inOut",
        repeat: -1,
    });
    const text = gsap.timeline({ autoRemoveChildren: false, repeat: -1 });
    text.to('.text', {duration:2, text:'着ぐるみバンドリ！',repeat:1, yoyo:true, repeatDelay:1});
    text.to('.text', {duration:2, text:'Work in progress...',repeat:1, yoyo:true, repeatDelay:1});
    cursor.play();
    text.play();
</script>
