---

---
<div class="w-full px-3 py-2 md:w-1/2">
    <div class="wrapper border-[2px] rounded-lg backdrop-blur-sm bg-white bg-opacity-50 text-center">
        <span class="text">着ぐるみバンドリ！</span>
        <!--<div class="cursor"></div>-->
    </div>
</div>

<script>
    import gsap from "gsap";
    import {TextPlugin} from "gsap/TextPlugin";

    gsap.registerPlugin(TextPlugin);
    document.addEventListener('astro:page-load', () => {
        // const cursor = gsap.to(".cursor", {
        //     opacity: 0,
        //     ease: "power2.inOut",
        //     repeat: -1,
        // });
        const text = gsap.timeline({autoRemoveChildren: false, repeat: -1});
        text.to('.text', {
            duration: 1.5,
            text: 'Work in progress...',
            repeat: 0,
            yoyo: false,
            repeatDelay: 1,
            ease: 'none'
        }, '+=1');
        text.to('.text', {
            duration: 1.5,
            text: '着ぐるみバンドリ！',
            repeat: 0,
            yoyo: false,
            repeatDelay: 1,
            ease: 'none'
        }, '+=1');
        // cursor.play();
        text.play();
    });
</script>

<style>
    @import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Signika+Negative:wght@300..700&display=swap');

    .wrapper {
        font-weight: 300;
        margin: 0;
        padding: 10px 20px;
    }

    .cursor {
        background-color: black;
        width: 0.1em;
        height: 1.7em;
        display: inline-block;
        margin: 0em 0em -0.3em 0em;
    }

    .text {
        height: 1.5em;
        font-size: 1.5em;
        position: relative;
    }
</style>
