---
import Background from '../components/Background.vue';
interface Props {
    title: string;
}
import {ViewTransitions} from "astro:transitions";

const {title} = Astro.props;
---

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="description" content="A simple gallery"/>
    <meta name="viewport" content="width=device-width"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&family=Signika+Negative:wght@300..700&display=swap"
          rel="stylesheet">
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-MVN9WMB6C4"></script>
    <script is:inline>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'G-MVN9WMB6C4');
    </script>
    <ViewTransitions/>
    <title>{title}</title>
</head>
<body>
<Background client:only="vue"/>
<slot/>
<div class="w-full h-32 bg-white bg-opacity-50 backdrop-blur-sm">
    <div class="w-full h-full flex flex-col gap-2 justify-center items-center">
        <p class="text-gray-500 text-sm text-center">
            <span class="inline-block"><span id="date"></span>&nbsp;© Project 着ぐるみバンドリ！ </span>
            <span class="inline-block">This site has no association with Bushiroad and GBP. </span>
        </p>
        <p>
            <a class="inline-block" href="https://github.com/mitian233/kigurumi">
                <img src="https://img.shields.io/badge/GitHub-000000" alt="GitHub Badge" />
            </a>
            <a class="inline-block" href="https://app.netlify.com/sites/delightful-kringle-bbf429/deploys">
                <img src="https://api.netlify.com/api/v1/badges/4a3bd9d9-48b1-4ede-a115-b471d37e506d/deploy-status" alt="Deploy Status Badge" />
            </a>
        </p>
    </div>
</div>
</body>
</html>

<script>
    const date = new Date();
    const dateElement = document.getElementById('date');
    dateElement.innerText = date.getFullYear().toString();
</script>

<style is:global>
    @import url('/webfont/result.css');

    body {
        font-family: "A-OTF Shin Go Pro R", "Signika Negative", "M PLUS Rounded 1c", sans-serif;
    }
</style>
